[server]
group_concat_max_len=8192
innodb_file_per_table=1
max_allowed_packet=128M
innodb_buffer_pool_size=24G
innodb_buffer_pool_instances=24
thread_cache_size=32
query_cache_size=128M
query_cache_limit=64M
#innodb_open_files=24576
#table_open_cache=4000
tmp_table_size=24M
max_heap_table_size=24M
join_buffer_size=256K
#ignore-db-dir=lost+found
